* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: url(../imagenesobras/imagenesobras/marmol2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.bloquetitulo {
    font-size: 40px;
    letter-spacing: 1px;
    padding-top: 90px;
    text-align: center;
    font-family: 'Lobster', cursive;
    color: black;
    margin: 0;
}

.ptitulo {
    font-size: 25px;
    margin-top: -35px;
}

.contenidodos {
    height: 1350px;
    margin: 20px 20px;
    font-family: sans-serif;
    letter-spacing: 0.03rem;
    line-height: 1.6;
    display: flex;
    flex: row wrap;
}

.container {
    width: 100%;
    height: 700px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 20px 30px;
}

.container .card {
    width: 400px;
    height: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    margin-bottom: 50px;
    text-align: center;
    transition: all 0.50s;
}

.container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16p rgba(0, 0, 0, 0.2);
}

.container .card img {
    width: 400px;
    height: 350px;
}

.container .card h4 {
    font-weight: 600;
}

.container .card p {
    padding: 0 1rem;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

@media (max-width:1400px) {
    .contenidodos {
        height: 2000px;
        margin: 20px 20px;
        display: flex;
        flex: row wrap;
        justify-content: stretch;
    }
    .container {
       
     margin: 20px 160px;
    }

    @media (max-width:1250px) {
        .contenidodos {
           
            margin: 20px 20px;
            display: flex;
            flex: row wrap;
            justify-content: space-between;
           
        }
        
        .container {
            width: 100%;
            height: 600px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            margin: 10px 10px;
            
        }
        @media (max-width:1000px) {
            .contenidodos {
               
                display: flex;
                flex: row wrap;
                justify-content: space-between;
               
            }
            
            .container {
                width: 100%;
                height: 600px;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                margin: 20px 20px;
            }
            
            .container .card {
                width: 380px;
                height: 600px;
                border-radius: 8px;
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
                overflow: hidden;
                /*corta cuando el contenido supera el contenedor*/
                margin: 10 10;
                text-align: center;
                transition: all 0.50s;
            }
            
         
            
            .container .card img {
                width: 380px;
                height: 350px;
            } 

            @media (max-width:870px) {
                .contenidodos {
                    display: flex;
                    flex: row wrap;
                    height: 4000px;
                   
                }
                
                .container {
                    width: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                    margin: 10px 10px;
                }
                
                .container .card {
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
                    overflow: hidden;
                    /*corta cuando el contenido supera el contenedor*/
                    margin: 20 20;
                    text-align: center;
                    transition: all 0.50s;
                    padding-top: 30px;
                }
                
             
                
                .container .card img {
                    width: 450px;
                    height: 350px;
                } 
        }
    }


}


}